# Zig build artifacts
zig-out/
.zig-cache/

# Nix
result
result-*

# OpenSearch local data
.opensearch-data/
.opensearch.log
.opensearch.pid

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Debug
*.dSYM/

#direnv
.direnv/
